<% include ./partials/boilerplate %>

<form id="request">
	<input type='text' name='search' placeholder='Search for Recipe' />
	<input type='submit' value='Search!' />
</form>
<div class="container"></div>

<script src="src/jquery.js"></script>
<script src="src/main.js" ></script>	
<% include ./partials/end %>