<% include ./partials/boilerplate %>

<div class="form-container">
	<form id="request">
		<input type='text' name='search' placeholder='Search for Recipe' />
		<input type='submit' value='Search!' />
	</form>
</div>




</div>  <!-- container close -->


<% include ./partials/end %>