<% include ./partials/boilerplate %>
<div class="index-container">	
	
	
	<h1 id="index-header">ReciP</h1>

		<form class="search-form" action ="">
			<input id='search' type="text" placeholder="Search for recipes here!" />
			<button id="search-submit" type="submit">Search</button>
		</form>
	
	</div>

	
<% include ./partials/end %>