/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Concert One', cursive; */

html {
    background: orange;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
}

.container {
    background: green;
    height: 100vh;
    width: 100%;
    overflow: auto;
    /* margin-top: 2.5%; */
}

#nav-container {
    margin-left: 10%;
    margin-top: -1.5%;
}

.form-container {
    margin-left: 40%;
    margin-top: 4%;
}

#main-header {
    margin-right: 15%;
    margin-top: 1.5%;
}

#results-container {
    background-color: red;
    margin-top: 3%;
}