html {
    background: orange;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
}

.container {
    background: green;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

#nav-container {
    margin-left: 10%;
    margin-top: -1.5%;
}

.form-container {
    margin-left: 40%;
    margin-top: 4%;
}

#main-header {
    font-family: 'Shrikhand', cursive;
    margin-right: 15%;
    margin-top: 1.5%;
}

#results-container {
    background-color: red;
    margin-top: 3%;
}

.login-container {
    margin-top: 20%;
    margin-left: 35%;
}

.register-container {
    margin-top: 20%;
    margin-left: 25%;
}

.favorites-container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    /* margin-left: 30%; */
    margin-top: 5%;
}

.favorites-subcont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.favorite-info {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
}

.title-result {
    font-family: 'Roboto Condensed', sans-serif;
}

.link-result {
    font-family: 'Concert One', cursive;
}

.info {
    font-family: 'Concert One', cursive;
}